# Apache (.htaccess or httpd.conf)
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [L]

<Files /vendor/>
    Deny from all
</Files>
<Files /templates/>
    Deny from all
</Files>
<Files /templates_c/>
    Deny from all
</Files>
<Files /src/>
    Deny from all
</Files>
<Files /config/>
    Deny from all
</Files>